# --- DJANGO ---
SECRET_KEY=django-insecure-tu_clave_secreta_de_prueba_12345
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# --- POSTGRESQL + PGVECTOR ---
POSTGRES_DB=leyes_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_pass_dev
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Opciones para DEFAULT_LLM_PROVIDER: gemini | groq
DEFAULT_LLM_PROVIDER=gemini

# Claves de API
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
GROQ_API_KEY=tu_api_key_de_groq_aqui