# Entornos virtuales y caché de Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Variables de entorno y llaves secretas
.env
*.pem

# Archivos de base de datos local y estáticos
db.sqlite3
/staticfiles/
/media/

# Archivos de IDEs / Editores
.vscode/
.idea/

# Docker
.docker/